body {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  background-color: black;
}
img {
  max-width: 100%;
}
figure {
  margin: 0;
  padding: 0;
}
.grid-container {
  display: grid;
  /*  grid-template-columns: 2fr 2fr; */
  grid-template-areas:
    's s'
    'mars meteorite'
    'mars micro'
    'intrepid intrepid';
  gap: 1rem;
  width: 980px;
  margin: 0 auto;
}
.one {
  grid-area: s;
}
.two {
  grid-area: mars;
}
.three {
  grid-area: intrepid;
}
.four {
  grid-area: meteorite;
}
.five {
  grid-area: micro;
}
